{% extends 'food/base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Login
                        <a href="{% url 'register' %}">Create account </a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{field.name}}
                                <br>
                                {{field}}
                                <br>
                            </div>
                        {% endfor %}
                        <br>
                        <button class="btn-dark" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}